<head>
      <link rel='stylesheet' href='/stylesheets/children-style.css' />
      <link rel="stylesheet" href="/stylesheets/Nav-bar-style.css">
</head>
<!--Nav Bar-->
    <nav>
        <div class="nav-wrapper z-depth-1 deep-purple lighten-3">
        <a href="#" id="menu" data-activates="mobile-demo" class="button-collapse show-on-large" style="height:66px;"><i class="material-icons">menu</i></a>
        <a class="brand-logo" >Toddler Town !</a>
        <ul class="side-nav " id="mobile-demo">
            <li class="sidenav-header deep-purple lighten-2 z-depth-2">
            <div class="row">
                <div class="col s4">
                    <img src="/images/initial.svg" id= "baby" alt="baby image" class="valign profile-image" style="width: 80px !important">                </div>
                <div class="col s8">
                <a class="btn-flat dropdown-button waves-effect white-text" href="#" data-activates="profile-dropdown" >NAME<i class="material-icons right white-text" style="margin-left:40px; margin-top:-70px">arrow_drop_down</i></a>
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li><a href="#"><i class="material-icons">person</i>Profile</a></li>
                        <li><a href="#"><i class="material-icons">lock</i>Privacy</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
                        <li><a href="#"><i class="material-icons">exit_to_app</i>Logout</a></li>
                    </ul>
                </div>
            </div>
            </li>
            
            <li class="white">
            <ul class="collapsible collapsible-accordion">
                <li>
                <a class="collapsible-header waves-effect black-text"><i class="fas fa-child"></i>Child Profile <i class="material-icons right grey-text" style="margin-right:5;">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                    <li><a class="waves-effect waves-blue" href="/child/addChild"><i class="fas fa-plus"></i> Add Child </a></li>
                    <li><a class="waves-effect waves-blue" href="#"><i class="fas fa-baby"></i> View activity</a></li>
                    <li><a class="waves-effect waves-blue" href="#"><i class="far fa-sticky-note"></i> Observations</a></li>
                    <li><a class="waves-effect waves-blue" href="#"><i class="far fa-bell"></i>Attendance</a></li>
                    <li><div class="divider"></div></li>
                    </ul>
                </div>
                    
                </li>
            </ul>
            </li>
            
            <li class="white"><a href="/child/children" class="waves-effect waves-blue"><i class="material-icons">group</i>Children</a></li>
            <li class="white"><a href="/feed" class="waves-effect waves-blue"><i class="material-icons">update</i>Feed and About Us</a></li>
              <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">phone_iphone</i>Real-Time Updates</a></li>
              <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">tag_faces</i>Stay Connected</a></li>
            <li class="white">
                <div class="divider"></div>
            </li>
        </ul>
        </div>
    </nav>

<div class="pink lighten-3 z-depth-1" style="padding-bottom:20%; margin-left:5%;margin-right:5%;border-radius:20px;">
<div class="row" style="margin: 2.5rem ">
    <h2>Children Details:</h2>
</div>
    
    <div class="container " id="child-Activity">
     <table class="highlight centered responsive-table purple lighten-4 z-depth-2">
      <form action="" id="child-form" class="z-depth-2">
        <div class="con ">
            <div class="field-set " id="PickActivity">
                <h2>Activity</h2>
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Play-Dough</option>
                  <option value="2">Outdoor Play</option>
                  <option value="3">Colouring</option>
                  <option value="4">Reading</option>
                  <option value="5">Rest-Time</option>
                  <option value="6">Table-top</option>
                  <option value="7">Water and Sand Play</option>
                  <option value="8">painting</option>
                </select>
                <label>Pick Activity</label>
              </div>

               <div class="input-field col s6" id="PickaRoom">
               <span class="flow-text">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Nursery</option>
                  <option value="2">wobblers</option>
                  <option value="3">toddlers</option>
                  <option value="4">Pre-pre ECCE</option>
                  <option value="5">ECCE Class 1</option>
                  <option value="6">ECCE Class 2</option>
                </select>
                <label>Pick a Room</label>
                </span>
              </div>
        </div>
    </form>
   <div>
</div>
<div class="footer cyan lighten-3">
          © 2019 Copyright 
</div>
<script>  
$(document).ready(function(){
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
  $('.button-collapse').sideNav('show');
});
  $(document).ready(function(){
    $('select').formSelect();
  });
    
</script>