<div class="container " id="child-con">
  <form action="" id="child-form" class="z-depth-2">
    <div class="con ">
      <div class="field-set ">
        <h2>Activity's</h2>
      </div>
      <div class="container responsive " id="child-Activity">
        <table class="highlight centered responsive-table purple lighten-4 z-depth-2">
          <form action="" id="child-form" class="z-depth-2">
            <div class="con responsive ">
              <div class="field-set col s8 z-depth-1 purple lighten-4 " id="PickActivity">
                <select>
                  <option value="" disabled selected>Pick an Activity</option>
                  <option value="1">Play-Dough</option>
                  <option value="2">Outdoor Play</option>
                  <option value="3">Colouring and Painting</option>
                  <option value="4">Reading</option>
                  <option value="5">Rest-Time</option>
                  <option value="6">Table-top</option>
                </select>
              </div>

              <div class="field-set col s8 z-depth-1 purple lighten-4" id="PickaRoom">
                <select>
                  <option value="" disabled selected>Pick a Room</option>
                  <option value="1">Nursery</option>
                  <option value="2">wobblers</option>
                  <option value="3">toddlers</option>
                  <option value="4">Pre-pre ECCE</option>
                  <option value="5">ECCE Class 1</option>
                  <option value="6">ECCE Class 2</option>
                </select>
              </div>
            </div>
          </form>
        </table>
        <button class="btn purple" id="fixed-action-btn toolbar" type="submit" name="action" postion="center">Add Activity
        <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>  
</div>
<script>  
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>