<!--Title-->
<div class="row no-gutters">
    <h2>Add Child</h2>
</div>

<div class="row no-gutters" id="childList">
    <div class="d-none d-md-block col-md-4"></div>
    <div class="col-12 col-md-4">Card</div>
    <div class="d-none d-md-block col-md-4"></div>
</div>
