<!--Title-->
<head>

</head>
<div class="row no-gutters">
    <h2>Add Child</h2>
</div>
<!--
 <option selected>Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
-->

<div class="row no-gutters">
    <div class="d-none d-lg-block col-lg-3 col-xl-4"></div>
    <div class="col-12 col-lg-6 col-xl-4">
    
    <div class="card">
        <div class="container"> <img class="card-img-top" src="../images/placeholder.png" alt="Add picture"></div>
        
        <form id="add-child-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFirstName">First Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputSurname">Surname</label>
                  <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                </div>
            </div>
            
                <div class="form-group row">
                    <label for="inputDay" class="col-sm-4 col-form-label">Date of Birth</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputDay" placeholder="Day">
                    </div>
                    <div class="col-sm-3">
                        <select id="inputMonth" class="form-control">
                    <option selected>Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="3">April</option>
                    <option value="3">May</option>
                    <option value="3">June</option>
                    <option value="3">July</option>
                    <option value="3">August</option>
                    <option value="3">September</option>
                    <option value="3">October</option>
                    <option value="3">November</option>
                    <option value="3">December</option>
                  </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputYear" placeholder="Year">
                    </div>
<!--
                <div class="form-group col-md-6">
                  <label>Date of Birth</label>
                  
                </div>
-->
                
<!--
                <div class="form-group col-md-6"><input type="text" class="form-control" id="inputDay"></div>
                <div class="form-group col-md-4">
                  <select id="inputMonth" class="form-control">
                    <option selected>Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="3">April</option>
                    <option value="3">May</option>
                    <option value="3">June</option>
                    <option value="3">July</option>
                    <option value="3">August</option>
                    <option value="3">September</option>
                    <option value="3">October</option>
                    <option value="3">November</option>
                    <option value="3">December</option>
                  </select>
                </div>
-->
<!--
                <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="inputYear">
                </div>
-->
            </div>
            
          <div class="form-group">
            <label for="inputRoom">Room</label>
            <input type="text" class="form-control" id="inputRoom" placeholder="Room">
          </div>
  <div class="form-group">
    <label for="inputParent">Parent's Name</label>
    <input type="text" class="form-control" id="inputParent" placeholder="Name">
  </div>
  
  <button type="submit" class="btn btn-primary">Add Child</button>
</form>
</div>
    </div>
    <div class="d-none d-lg-block col-lg-3" col-xl-4></div>
</div>
