<div class="container " id="child-con">
    <form action="" id="child-form" class="z-depth-2">
        <div class="con ">
            <div class="field-set ">
                <h2>Add Child</h2>
                <p>Add a child to the system</p>
                <div class="row">
                    <!--   First name -->
                    <span class="input-item col s6 z-depth-1">
                      <i class="fas fa-user-circle fa-1x"></i>
                      <input class="form-input active validate z-depth-3" id="inputFirstName" type="text" placeholder="First Name" required />  
                    </span>

                    <!--   Surname -->
                    <span class="input-item col s6 z-depth-1">
                      <i class="fas fa-user-circle fa-1x"></i>
                      <input class="form-input active validate" id="inputSurname" type="text" placeholder="Surname" required />
                    </span>

                </div>
                <div class="row" id="date">
                  <!--   DOB -->
                  <span class="input-item col s12 z-depth-1" >
                      <i class="fas fa-calendar-check"></i>
                     {{!-- <label class="control-label" for="date"></label> --}}
                     <input class="form-input active validate" id="inputDOB" name="date" placeholder=" Date of Birth:  MM/DD/YYY" type="text" required/>
                  </span>

                </div>
                <div class="row">
                    <span class="input-item col s12 z-depth-1" >
                        <i class="material-icons prefix" style="margin-top:10px">people</i>
                        <input class="form-input active validate" id="inputParname" type="text" placeholder="Parent's Name" />
                    </span></div>
                
                <button class="log-in waves-effect waves-light sign-up z-depth-1" id="submit-Btn" type="submit" onclick="Materialize.toast('Added Child to Creche',2000,'rounded')"  > Add Child! </button>
            </div>
        </div>
    </form>
</div>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>  
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>