<!--Title-->

<head>

</head>
<div class="row no-gutters">
    <h2>Add Child</h2>
    <link rel='stylesheet' href='/stylesheets/children-style.css' />
</div>
<div class="container">
    <form action="" id="log-form">
        <div class="con">
            <div class="field-set">
                <h2>Add Child</h2>
                <p>Add child to the system</p>
                <div class="row">
                    <!--   First name -->
                    <span class="input-item col s6">
                        <input class="form-input active validate" id="input-FirstName" type="text" placeholder="First Name" required />
                    </span>

                    <!--   Surname -->
                    <span class="input-item col s6">
                        <input class="form-input active validate" id="input-Surname" type="text" placeholder="Surname" required />
                    </span>
                </div>
                <div class="row">
                    <span class="input-item col s4">
                        <input class="form-input active validate" id="input-Day" type="text" placeholder="Day" required />
                    </span>
                    <span class="input-item col s4" id="month-Section">
                        <input class="form-input active validate" type="text" id="input-Month" placeholder="Month" data-activates='monthsDropdown' required />
                        <!-- Dropdown Structure -->
                        <ul id='monthsDropdown' class='dropdown-content'>
                            <li><a href="#!">January</a></li>
                            <li><a href="#!">February</a></li>
                            <li><a href="#!">March</a></li>
                            <li><a href="#!">April</a></li>
                            <li><a href="#!">May</a></li>
                            <li><a href="#!">June</a></li>
                            <li><a href="#!">July</a></li>
                            <li><a href="#!">August</a></li>
                            <li><a href="#!">September</a></li>
                            <li><a href="#!">October</a></li>
                            <li><a href="#!">November</a></li>
                            <li><a href="#!">December</a></li>
                        </ul>
                    </span>
                    <span class="input-item col s4">
                        <input class="form-input active validate" id="input-Year" type="text" placeholder="Year" required />
                    </span>
                </div>
                <div class="row">

                    <span class="input-item col s12">
                        <input class="form-input active validate" id="input-Parname" type="text" placeholder="Parent's Name" />
                    </span></div>
            </div>
        </div>
    </form>
</div>
