<!--Title-->
<div class="row no-gutters">
    <h2>Add Child</h2>
</div>

<div class="row no-gutters">
    <div class="d-none d-md-block col-md-4"></div>
    <div class="col-12 col-md-4">
    
    <div class="card">
        <form role="form" id="add-child-form">
        <img class="card-img-top" src="..." alt="Card image cap">
        <form class="form-horizontal text-center" role="form" id="log-form">
            <div class="form-group mt">
            <label for="inputUsername" class="control-label">Username</label>
            </div>
            <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="@username">

        <div class="form-group">
            <label for="inputPassword" class="control-label">Password</label>
            </div>
                <input type="password" class="form-control input-lg required" id="inputPassword"
                       placeholder="Password">
           
         
        <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
    </form>
        </form>
</div>
    </div>
    <div class="d-none d-md-block col-md-4"></div>
</div>
