<!--Title-->

<head>
<link rel="stylesheet" href="Nav-bar-style.css">
        
 <nav>
    <div class="nav-wrapper red lighten-4">
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a class="brand-logo" >App Name</a>
      <ul class="side-nav teal lighten-4" id="mobile-demo">
          
        
         <li class="sidenav-header red lighten-5">
          <div class="row">
            <div class="col s4">
                <img src="App.PNG" width="48px" height="48px" alt="baby image" class="circle responsive-img valign profile-image">
            </div>
            <div class="col s8">
               <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown">Name<i class="mdi-navigation-arrow-drop-down right"></i></a>
                <ul id="profile-dropdown" class="dropdown-content">
                    <li><a href="#"><i class="material-icons">person</i>Profile</a></li>
                    <li><a href="#"><i class="material-icons">settings</i>Setting</a></li>
                    <li><a href="#"><i class="material-icons">help</i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="material-icons">lock</i>Lock</a></li>
                    <li><a href="#"><i class="material-icons">exit_to_app</i>Logout</a></li>
                </ul>
            </div>
          </div>
        </li>
          
        <li class="white">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header waves-effect"><i class="material-icons">child_care</i>Child Profile <i class="material-icons right" style="margin-right:5;">arrow_drop_down</i></a>
                
              <div class="collapsible-body">
                <ul>
                  <li><a class="waves-effect waves-blue" href="/child/addChild"><i class="material-icons">face</i>Add Child</a></li>
                  <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">accessibility</i>View activity</a></li>
                </ul>
              </div>
                
            </li>
          </ul>
        </li>
          
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>Option one</a></li>
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>option two</a></li>
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>option three</a></li>
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>option four</a></li>
        <li class="white">
            <div class="divider"></div>
        </li>
      </ul>
    </div>
  </nav>
</head>

<!--Nav Bar-->

<!--Nav Bar-->
    <link rel='stylesheet' href='/stylesheets/children-style.css' />
<div class="container">
    <form action="" id="child-form">
        <div class="con">
            <div class="field-set">
                <h2>Add Child</h2>
                <p>Add child to the system</p>
                <div class="row">
                    <!--   First name -->
                    <span class="input-item col s6">
                        <input class="form-input active validate" id="inputFirstName" type="text" placeholder="First Name" required />
                    </span>

                    <!--   Surname -->
                    <span class="input-item col s6">
                        <input class="form-input active validate" id="inputSurname" type="text" placeholder="Surname" required />
                    </span>
                </div>
                <div class="row">
                    <span class="input-item col s4">
                        <input class="form-input active validate" id="inputDay" type="text" placeholder="Day" required />
                    </span>
                    <span class="input-item col s4" id="month-Section">
                        <span id="month-Wrapper"><input class="form-input active validate" type="text" id="inputMonth" placeholder="Month" data-activates='monthsDropdown' required /></span>
                        <!-- Dropdown Structure -->
                        <ul id='monthsDropdown' class='dropdown-content'>
                            <li><a>January</a></li>
                            <li><a>February</a></li>
                            <li><a>March</a></li>
                            <li><a>April</a></li>
                            <li><a>May</a></li>
                            <li><a>June</a></li>
                            <li><a>July</a></li>
                            <li><a>August</a></li>
                            <li><a>September</a></li>
                            <li><a>October</a></li>
                            <li><a>November</a></li>
                            <li><a>December</a></li>
                        </ul>
                    </span>
                    <span class="input-item col s4">
                        <input class="form-input active validate" id="inputYear" type="text" placeholder="Year" required />
                    </span>
                </div>
                <div class="row">

                    <span class="input-item col s12">
                        <input class="form-input active validate" id="inputParname" type="text" placeholder="Parent's Name" />
                    </span></div>
                
                <button class="log-in" id="submit-Btn" onclick="wavingBaby()" type="submit"> Sign Up! </button>
            </div>
        </div>
    </form>
</div>
<script>  
$(document).ready(function(){
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
  $('.button-collapse').sideNav('show');
});</script>