<!--Title-->
<div class="row no-gutters">
    <h2>Children</h2>
</div>

<!--List-->
<!--
<div class="row no-gutters" id="childList">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Name</div>
                <div class="d-none d-md-block col-md-2">Present</div>
                <div class="d-none d-md-block col-md-2">Absent</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Ethan</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Aparna</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Louise</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Oisín</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
    </ul>
</div>
-->
<div class="container">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
</div>
