<!--Title-->
<div class="row no-gutters">
    <h2>Children</h2>
</div>

<!--List-->
<div class="row no-gutters" id="childList">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Name</div>
                <div class="d-none d-md-block col-md-2">Present</div>
                <div class="d-none d-md-block col-md-2">Absent</div>
            </div>
        </li>
        
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
