<div class="container " id="child-con">
    <form action="" id="child-form" class="z-depth-2">
        <div class="con ">
            <div class="field-set ">
                <div class=" responsive-table" >
                <h2>Children Details:</h2>
            </div>
            <table class="highlight centered responsive-table pink lighten-4 z-depth-1">
            <thead class="responsive-table purple lighten-2 z-depth-1">
              <tr>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Room</th>
          </tr>
        </thead>

        <tbody class="responsive-table" id="list">
          <tr>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Room</td>
            </tr>
          <tr>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Room</td>
          </tr>
        </tbody>
      </table>
        </div>
        </div>
    </form>
</div>