<!--Title-->
<div class="row no-gutters">
    <h2>Children</h2>
</div>

<!--List-->
<!--
<div class="row no-gutters" id="childList">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Name</div>
                <div class="d-none d-md-block col-md-2">Present</div>
                <div class="d-none d-md-block col-md-2">Absent</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Ethan</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Aparna</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Louise</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Oisín</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
    </ul>
</div>
-->
<div class="container">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Room</th>
              <th>Present</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Room</td>
            <td>Present</td>
            </tr>
          <tr>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Room</td>
            <td>Present</td>
          </tr>
        </tbody>
      </table>
</div>
