<!--Title-->
<div class="row no-gutters">
    <h2>Children</h2>
</div>

<!--List-->
<!--
<div class="row no-gutters" id="childList">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Name</div>
                <div class="d-none d-md-block col-md-2">Present</div>
                <div class="d-none d-md-block col-md-2">Absent</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Ethan</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Aparna</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Louise</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
        <li class="list-group-item">
            <div class="row no-gutters">
                <div class="d-none d-md-block col-md-2"></div>
                <div class="col-10 col-md-6">Oisín</div>
                <div class="d-none d-md-block col-md-2">Yes</div>
                <div class="d-none d-md-block col-md-2">No</div>
            </div>
        </li>
        
    </ul>
</div>
-->
<div class="container">
    <div class="collection">
    <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
    <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
    <a href="#!" class="collection-item">Alan</a>
    <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
  </div>
</div>
