<!--Title-->
<div class="row no-gutters">
    <h2>Children</h2>
</div>

<div class="container">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Room</th>
              <th>Present</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Room</td>
            <td>Present</td>
            </tr>
          <tr>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Room</td>
            <td>Present</td>
          </tr>
        </tbody>
      </table>
</div>
