<!DOCTYPE html>
<html>
  <head>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
	<script src="/javascripts/auth.js"></script>
	<script src="/javascripts/BannerJava.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="833979721561-m5oa0pokh6dddpn5ukls6rao7k8282vn.apps.googleusercontent.com">
{{!-- <div><a href="#" onclick="signOut();">Sign out</a></div> --}}

    <title>{{title}}</title>

      {{!-- <!--    Bootstrap--> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


       {{!-- <!--Import Google Icon Font--> --}}
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     {{!-- <!--Import materialize.css--> --}}
     {{!-- <!--Import materialize.css--> --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet"/>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

{{!-- <!--      Custom Stylesheet--> --}}
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    {{!-- Style sheet for: Login, Forget-Pass, Registration pages --}}
    <link rel='stylesheet' href='/stylesheets/style2.css' />
	
  </head>
  <body>
    {{{body}}}

      {{!-- <!--JavaScript at end of body for optimized loading--> --}}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
>>>>>>> 47a289ced9f1cacb987ceef3ec350e0336fa4ab4
      
      <script src="/javascripts/auth.js"></script>

     <script src="/javascripts/animate.js"></script> 
      <script src="/javascripts/children.js"></script> 

     <script src="/public/javascripts/animate.js"></script> 

     <script src="/javascripts/children.js"></script> 
       

  </body>
</html>
