<head>
      <link rel='stylesheet' href='/stylesheets/children-style.css' />
      <link rel="stylesheet" href="/stylesheets/Nav-bar-style.css">
      <link rel="stylesheet" href="/stylesheets/profile-style.css">
</head>
{{!-- 
<!--Nav Bar-->
<nav>
    <div class="nav-wrapper z-depth-1 deep-purple lighten-3">
      <a href="#" id="menu" data-activates="mobile-demo" class="button-collapse show-on-large" style="height:66px;"><i class="material-icons">menu</i></a>
      <a class="brand-logo" >Toddler Town !</a>
      <ul class="side-nav" id="mobile-demo">
          <li class="sidenav-header deep-purple lighten-2 z-depth-2">
          <div class="row">
              <div class="col s4">
                <img src="/images/initial.svg"  class="valign profile-image " style="width: 80px !important">                  </div>
              <div class="col s8">
              <a class="btn-flat dropdown-button waves-effect waves-dark white-text" href="#" data-activates="profile-dropdown">NAME<i class="material-icons right white-text" style="margin-left:40px; margin-top:-70px">arrow_drop_down</i></a>
                  <ul id="profile-dropdown" class="dropdown-content">
                    <li><a href="#"><i class="material-icons">person</i>Profile</a></li>
                    <li><a href="#"><i class="material-icons">lock</i>Privacy</a></li>
                    <li class="divider"></li>
                    <li><a href="/settings"><i class="material-icons">settings</i>Settings</a></li> <!--changed this-->
                    <li><a  class = "modal-trigger" href="#logout-modal"><i class="material-icons">exit_to_app</i>Logout</a>  </li>
                  </ul>
              </div>
          </div>
        
          </li>
          <li class="white">
          <ul class="collapsible collapsible-accordion">
              <li>
              <a class="collapsible-header black-text"><i class="fas fa-child"></i>Child Profile <i class="material-icons right grey-text" style="margin-right:5;">arrow_drop_down</i></a>
              <div class="collapsible-body ">
                  <ul >
                  <li><a class="waves-effect waves-blue" href="/child/addChild"><i class="fas fa-plus"></i>Add Child</a></li>
                  <li><a class="waves-effect waves-blue" href="#"><i class="fas fa-baby"></i> View activity</a></li>
                  <li><a class="waves-effect waves-blue" href="#"><i class="far fa-sticky-note"></i> Observations</a></li>
                  <li><a class="waves-effect waves-blue" href="#"><i class="far fa-bell"></i>Attendance</a></li>
                  <li><div class="divider"></div></li>
                  </ul>
              </div>
            
              </li>
          </ul>
          </li>
          <li class="white"><a href="/child/children" class="waves-effect waves-blue"><i class="material-icons">group</i>Children</a></li>
          <li class="white"><a href="/feed" class="waves-effect waves-blue"><i class="material-icons">update</i>Feed and About Us</a></li>
          <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">phone_iphone</i>Real-Time Updates</a></li>
          <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">tag_faces</i>Stay Connected</a></li>
          <li class="white">
          <div class="divider"></div>
          </li>
      </ul>
    </div>
</nav>

  <!-- Logout Modal Structure -->
<div id="logout-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Log-Out Confirmation</h4>
    <p>Are you sure you want to log out?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close purple lighten-3 btn-flat" style="margin-left:20px;">CANCEL</a>
    <a href="/" class="modal-action modal-close purple lighten-3 btn-flat" onclick="logout()" >CONFIRM</a>
  </div>
</div> --}}

<div class="container">
  <div class="row" id="settings-card">
    <div class="card z-depth-2">
      <div class="card-content">
        <div class="row">
          <div class="col s2">
            <div class="card-image">
              <img src="/images/logo2.svg" class="circle responsive-img" style="width:100%">
            </div>            
          </div>
          <div class="col s10">
          <div class="card-content pink lighten-4 z-depth-1">
              <form action="" id="profile-form" >
                <h3>View Personal Info:</h3>
                  <div class="con ">
                      <div class="field-set ">
                          {{!-- <h2>Add Child</h2>
                          <p>Add a child to the system</p> --}}
                          <div class="row">
                              <!--   Full  name -->
                              <span class="input-item col s6 z-depth-1">
                                <i class="fas fa-user-circle fa-1x"></i>
                                <input class="form-input active validate z-depth-3" id="inputFirstName" type="text" placeholder="Full Name" required />  
                              </span>
                          </div>
                          <div class="row" id="mobile">
                            <!--   Phone number -->
                            {{!-- <label for="mobile">
                              Mobile: --}}
                              <span class="input-item col s12 z-depth-1" >
                                <i class="fas fa-mobile-alt"></i>
                                <input class="form-input active validate" id="mobile" name="mobile" placeholder="Mobile Number" type="text" required/>
                              </span>
                            {{!-- </label> --}}
                            
                            <!--   Spouse's Phone number -->
                            <span class="input-item col s12 z-depth-1" >
                              <i class="fas fa-mobile-alt"></i>
                              <input class="form-input active validate" id="mobile2" name="mobile2" placeholder="Spouse's Mobile Number (Optional)" type="text"/>
                            </span>
                          </div>
                          <div class="row">
                              <span class="input-item col s12 z-depth-1" >
                                <i class="fas fa-at" style="margin-top:20px;"></i>
                                <input class="form-input active validate" id="email" type="email" placeholder="Parent's Email" />
                              </span>
                          </div>
                          <div class="row">
                              <!--   Home Address -->
                              <span class="input-item col s6 z-depth-1">
                                <i class="fas fa-home fa-1x"></i>
                                <input class="form-input active validate z-depth-3" id="homeAdd" type="text" placeholder="Home Address" required />  
                              </span>

                              <!--   Work Address -->
                              <span class="input-item col s6 z-depth-1">
                                <i class="fas fa-building fa-1x"></i>
                                <input class="form-input active validate" id="workAdd" type="text" placeholder="Work Address (Optional)" />
                              </span>
                          </div>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="/javascripts/profile-settings.js"></script>
<script>  
    $(document).ready(function(){
      $('.button-collapse').sideNav({
          menuWidth: 300, // Default is 300
          edge: 'left', // Choose the horizontal origin
          closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
        }
      );
      $('.button-collapse').sideNav('show');
    });

    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })

    $(document).ready(function(){
      $('.modal').modal();
      $('.collapsible').collapsible();
    });
</script>