<head>
    <link rel="stylesheet" href="/stylesheets/profile-style.css">
</head>
<div class="container">
  <div class="row" id="settings-card">
    <div class="card z-depth-2">
      <div class="card-content">
        <div class="row">
          <div class="col s2">
            <div class="card-image">
              <img src="/images/logo2.svg" class="circle responsive-img" style="width:100%">
            </div>            
          </div>
          <div class="col s10">
          <div class="card-content pink lighten-4 z-depth-1">
            <form action="" id="profile-form" >
                <h3>View Personal Info:</h3>
                <a class="btn-floating btn-large purple lighten-2" style="top: -50px; left: 540px; margin-bottom: -50px;"> <i class="large material-icons">mode_edit</i> </a>
                  <div class="con ">
                      <div class="field-set ">
                          {{!-- <h2>Add Child</h2>
                          <p>Add a child to the system</p> --}}
                          <div class="row">
                              <!--   Full  name -->
                              <span class="input-item col s6 z-depth-1" style="padding:20px;">
                                <i class="fas fa-user-circle fa-1x"></i>
                                  Full Name: 
                                <input type="text" name="" id="outputFullName" disabled> 
                                <span id="outputFullName" ></span>
                              </span>
                          </div>
                          <div class="row" id="mobile">
                            <!--   Phone number -->
                              <span class="input-item col s12 z-depth-1" style="padding:20px;" >
                                <i class="fas fa-mobile-alt"></i>
                                Mobile Number:
                                <span id="outputMobile" ></span>
                              </span>
                          </div>
                          <!--  Email -->
                          <div class="row">
                            <span class="input-item col s12 z-depth-1" style="padding:20px;" >
                                  <i class="fas fa-at"></i>
                                Parents Email:
                                <span id="outputEmail"></span>
                            </span>
                          </div>
                          <div class="row">
                              <!--   Home Address -->
                            <span class="input-item col s12 z-depth-1" style="padding:20px;" >
                                <i class="fas fa-home fa-1x"></i>
                              Home Address:
                              <span id="outputHomeAdd"></span>
                            </span>
                            <!--   Work Address -->
                            <span class="input-item col s12 z-depth-1" style="padding:20px;" >
                                <i class="fas fa-building fa-1x"></i>
                              Work Address:
                              <span id="outputWorkAdd"></span>
                            </span>
                          </div>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="/javascripts/profile-settings.js"></script>