
     <div class="container" id="reg">
        <form id="EMPreg-form" class="regform z-depth-2" action="">
           <div class="con">
           <header class="head-form">
               <!-- Logo Group -->
               <img src="/images/logo2.svg" id="baby1" class="center-align responsive-img"  >
              <h2>Toddler Town!</h2>
              <!--     A welcome message or an explanation of the login form -->
              <p>Lorem ipsum dolor, sit amet</p>
           </header>
           <!--     End  header Content  -->
           <br>
           <div class="field-set">
               <h2>Welcome!</h2>
               <!--     A welcome message or an explanation of the login form -->
               <p>Registering is only for Employees looking to set up a Creche ok?</p>
               <br>
              <!--   user name -->
              <span class="input-item z-depth-1">
                 <i class="material-icons prefix">face</i>
                 <input class="form-input active validate" id="inputUsername" type="text" placeholder="@UserName" required>
               </span>
              <br> <br>  
           <!--   Password --> 
              <span class="input-item z-depth-1">
                <i class="material-icons prefix">email</i>
              <!--   Password Input-->
              <input class="form-input materialize-textarea validate" type="email" placeholder="Email" id="inputEmail" required>
            </span>
              <br>  
            <span class="input-item z-depth-1">
                <i class="material-icons prefix ">lock </i>
                <input class="form-input validate" id="inputPassword" type="password" placeholder="Password" required>
              </span>
             <br>        
          <!--   Password --> 
             <span class="input-item z-depth-1">
               <i class="material-icons prefix">lock</i>
             <!--   Password Input-->
             <input class="form-input materialize-textarea validate" type="password" placeholder="Confirm Password" id="inputPassword2"  name="password" required>
           </span>
          
           <span >
            <input type="checkbox" id="checked">
            <label for="checked" onclick="checkToggle">I agree to the term and conditions</label>
           </span>
           
           <br>
           {{!-- <a class="waves-effect waves-light submits btn login" onclick="Materialize.toast('Welcome!',2000)"  href="#">Sign Up!</a> --}}
            <button class="waves-effect waves-light btn login" id="sign-in" type="submit"> Sign Up! </button>
           </div>
          <div class="back-btn">
            <!-- Back button
            <button class="btn submits back" onclick="location.href = './login-page.html';"> Back </button> -->
            <a class="waves-effect waves-light  back btn" id="back" href="../"><i class="material-icons left">arrow_back</i>Back</a>
          </div>
          </div>
        </form>
        </div>

        <script>
          function checkToggle() {
            document.getElementById("checked").checked = !document.getElementById("checked").checked;
          } 
        </script>
   