
     <div class="container" id="reg">
        <form id="Room_setup" class="regform z-depth-2" action="">
           <div class="con"></div>
          <br>
           <div class="field-set">
               <h2>Set up a New Room</h2>
               <!--     A welcome message or an explanation of the login form -->
               <p style="width=30%" >please add your Creche Inofo Below? </p>
               <br>
              <!--   user name -->
              <span class="input-item z-depth-1">
                 <i class="material-icons prefix">store</i>
                 <input class="form-input active validate" id="inputName" type="text" placeholder="RoomName" required>
               </span>
              <br> <br>  
           <!--   email --> 
              <span class="input-item z-depth-1">
                <i class="material-icons format_list_numbered">email</i>
              <!--   Password Input-->
              <input class="form-input materialize-textarea validate" type="text" placeholder="Capacity" id="inputCap" >
            </span>
              <br>  
                <br>  
                      <span >
            <input type="checkbox" id="checked">
            <label for="checked" onclick="checkToggle">I agree to the term and conditions</label>
           </span>
           
           <br>
           {{!-- <a class="waves-effect waves-light submits btn login" onclick="Materialize.toast('Welcome!',2000)"  href="#">Sign Up!</a> --}}
            <button class="waves-effect waves-light btn login" id="sign-in" type="submit"> Set up! </button>
           </div>
          </div>
        </form>
        </div>

        <script>
          function checkToggle() {
            document.getElementById("checked").checked = !document.getElementById("checked").checked;
          } 
        </script>
   