<main class="valign-wrapper responsive">
    <span class="container responsive text-lighten-1 pink lighten-4 z-depth-2" id="boop">

    <p class="flow-text responsive">Stay Connected with </p>
    <h1 class="title grey-text responsive text-lighten-3">Toddler Town !</h1>

    <p>Opening Hours: 7.45am - 6.30 daily (Monday to Friday) </p>
    <hr>
    <p> Connect Number: 090 6621224</p>
    <p> Address: Upper newcastle road, Galway city</p>
    <p> Our App proudly brought to you by: Louise Kilheeney, Aparna Pandey, Ethan Padden, Oisin Donnellen </p>
    <div class="pink lighten-5 responsive" style="padding:10px;">
      <h4>Follow us on:</h4>
      <!-- Add font awesome icons -->
      <a href="https://www.facebook.com/toddler.townapp.5" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="center-align responsive">
    </div>
  </span>
</main>
