<main class="valign-wrapper">
<span class="container text-lighten-1 pink lighten-4 z-depth-2" id="boop">
  <p class="flow-text">Welcome to</p>
  <h1 class="title grey-text text-lighten-3">Toddler Town !</h1>

  <blockquote class="flow-text">A place to watch your children grow and learn </blockquote>
  <p>Congratulations! It would appear your childcare service provider has made the wise decision of becoming our customer! We're delighted to have you onboard! You can now stay connected and rest assured your little one is in good hands!</p>
  <hr>
  <div class="pink lighten-5" style="padding:10px;">
  <p >What our App?<br>
  It is a mobile and web application that directly connects you with your childcare service provider. It enables them to share real-time updates with you throughout the day, including photos, videos, audio clips, curriculum-based activities, and important additional information around meals and sleep records.
  <br><br>
  Is my information secure?<br>
  Yes! Security is of paramount importance to us. We take every step to ensure your information is safe, secure and can be accessed and deleted at all times. We use the latest encryption technology for all information stored and shared using this platform, while also meeting all new GDPR directives.
  </p>
  </div>
  <div class="center-align">
