<!DOCTYPE html>
<html lang="en">
<head>
       <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    
     <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nav-bar</title>
    <link rel="stylesheet" href="Nav-bar-style.css">
        
 <nav>
    <div class="nav-wrapper red lighten-4">
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a class="brand-logo" >App Name</a>
      <ul class="side-nav teal lighten-4" id="mobile-demo">
          
        
         <li class="sidenav-header red lighten-5">
          <div class="row">
            <div class="col s4">
                <img src="/images/App.PNG"width="48px" height="48px" alt="baby image" class="circle responsive-img valign profile-image">
            </div>
            <div class="col s8">
               <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown">Name<i class="mdi-navigation-arrow-drop-down right"></i></a>
                <ul id="profile-dropdown" class="dropdown-content">
                    <li><a href="#"><i class="material-icons">person</i>Profile</a></li>
                    <li><a href="#"><i class="material-icons">exit_to_app</i>Logout</a></li>
                </ul>
            </div>
          </div>
        </li>
          
        <li class="white">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header waves-effect"><i class="material-icons">child_care</i>Child Profile <i class="material-icons right" style="margin-right:5;">arrow_drop_down</i></a>
                
              <div class="collapsible-body">
                <ul>
                  <li><a class="waves-effect waves-blue" href="/child/addChild"><i class="material-icons">face</i>Add Child</a></li>
                  <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">accessibility</i>View activity</a></li>
                </ul>
              </div>
                
            </li>
          </ul>
        </li>
          
        <li class="white"><a href="/child/children" class="waves-effect waves-blue"><i class="material-icons">account_box</i>Children</a></li>
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>option two</a></li>
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>option three</a></li>
        <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">account_box</i>option four</a></li>
        <li class="white">
            <div class="divider"></div>
        </li>
      </ul>
    </div>
  </nav>
    </head>
    <body>
         <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">

      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-lighten-3">App name </h1>

      <blockquote class="flow-text">A place to watch your children grow and learn </blockquote>

      <div class="center-align">
        
        <script>  
$(document).ready(function(){
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
  $('.button-collapse').sideNav('show');
});</script>
    </body>
          <div class="footer teal lighten-4">
               © 2019 Copyright 
        </div>
</html> 