:root{
    --highlight-color: #F8B500;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Child List*/
#childList ul {
    width: 100%;
}


#childList ul li:first-child {
    background-color: var(--highlight-color);
    color: white;
}

/*Add Child*/
#add-child-form > div:first-child{
    padding: 0;
}

#add-child-form > div:nth-child(2){
    padding: 2%;
}

#add-child-form input {
    margin: 3% auto;
}

#add-child-form div.form-group {
    margin: 0;
}

#add-child-form button {
    float: right;
    margin: 2%;
}
