:root{
    --highlight-color: #F8B500;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Child list*/
#childList ul {
    width: 100%;
}


#childList ul li:first-child {
    background-color: var(--highlight-color);
    color: white;
}